:root {
  --color-primary: #cd000e;
  --color-primary-dark: #860005;
  --color-accent: #1fb5fc;
  --color-secondary: #f49600;
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Poppins', sans-serif;
}

/* Global Base Styling */
body {
  background-color: #fff;
  color: #000;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0B0B0B;
    color: white;
  }
}
